body{
    display: flex;
    flex-direction: column;
    background-color: #0093E9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;


}

#title{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}