:root {
    --color-primary: #1d2e5d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
}

h1,
h2 {
    line-height: 1.1;
}

.site-header {
    background: var(--color-primary);
    padding: 1rem;
}

.brand {
    color: white;
    font-weight: 500;
    user-select: none;
}

.user-menu {
    summary {
        list-style: none;
        cursor: pointer;
        user-select: none;

        img {
            border-radius: 50%;
        }
    }

    ul {
        background: white;
        border-radius: 4px;
        box-shadow:
            0 0 1px black,
            0 0 2px black,
            0 0 3px black,
            0 0 4px black;

        li {
            padding: 0.5rem;

            &:hover {
                background: hsl(0deg 0% 0% / 0.1);
            }
        }
    }
}

.site-navigation {
    background: black;
    color: white;
    height: 100%;
}

.navigation-links li {
    padding: 1rem;

    &:hover {
        background: hsl(0deg 100% 100% / 0.1);
    }
}

.main-content {
    padding: 0 1rem;

    >*+* {
        margin-block-start: 1em;
    }
}

.saleBanner {
    background: linear-gradient(180deg, rgba(204, 12, 12, 1) 0%, rgba(255, 104, 0, 1) 50%, rgba(204, 12, 12, 1) 100%);
    color: azure;
    font-size: 1.2rem;
    justify-content: center;
    padding-block: 0.5rem;
    font-weight: 700;
    border-radius: 0 0 0 8px;
    // box-shadow: -1px 6px 5px -2px rgba(0, 0, 0, 0.372);
    text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.61);
}