@use "defaults/screens" as screens;
@use "defaults/fonts" as fonts;

.catbar {

    width: 95%;
    margin-inline: auto;
    height: 4rem;
    
    // flex-parent
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    // component fonts: 
    font-size: 0.7rem;
    white-space: nowrap;
    font-weight: 600;

    &__filter-button {

        // flex-child
        flex-shrink: 0;
        flex-basis: 6rem;

        height: 3rem;
        padding: 1rem;
        font-weight: bold;

        background-color: white;
        border: solid 1px rgba(black, 0.2);
        border-radius: 0.75rem;
        position: relative;
        
        &::before {
            content: url("../../assets/icons/filter.svg");
            width: 1rem;
            float: left;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            text-align: center;
        }
    }

    &__list {

        // flex-child
        flex-grow: 1;

        // flex-parent
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        gap: 2rem;
        overflow-y: auto;

        // Hide scrollbar 
        &::-webkit-scrollbar { 
            display: none;  
        }
    }

    &__item {

        // flex-child
        flex-shrink: 0;
        flex-basis: 0;

        text-align: center;
        padding: 0.5rem;

        // Hover effect
        opacity: 0.6;
        border-bottom: solid 2px transparent;
        
        &:hover {
            // background-color: green;
            opacity: 1;
            border-bottom: solid 2px rgba(black, 0.25);
            transition: border-bottom 2s;
            transition: opacity 0.5s;
        }

        &:active, &:focus-within {
            border-bottom: solid 2px rgba(black, 1);
        }

        &#{&}-selected {
            opacity: 1;
            border-bottom: solid 2px rgba(black, 1);
        }
    }

    &__img {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &__scroll-button {
        background: url("../../assets/icons/next-cat.svg") no-repeat center center/50%;  

        // flex-child
        flex-shrink: 0;
        flex-basis: 2rem;
        height: 2rem;

        border-radius: 2rem;
        background-color: white;
        border: solid 1px rgba(black, 0.2);

        // not implemented due to content not moving 
        // &--reversed {
        //     transform: rotate(180deg);
        // }

        &:hover {
            box-shadow: 0px 0px 12px rgba(black, 0.2);
            flex-basis: 2.2rem;
            height: 2.1rem;
        }
    }

    @media (max-width: screens.$screen-small) {
        width: 100%;
        
        padding: 0 2rem;
        box-shadow: 0px 5px 6px rgba(black, 0.25);
        
        &__filter-button{
            display: none;
        }

        &__scroll-button {
            display: none;
        }
    }
}