/* SASS - syntactically awesome stylesheets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
label {
    display: table-cell;
    padding-inline: 10rem;

    
}
