.main-header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 30px;

	&__title-container {
		display: flex;
		justify-content: center;
		position: absolute;
		top: 20px;

		&__title {
			color: white;
			font-family: 'Poppins', sans-serif;
			font-size: 2.5rem;
		}
	}
}

