
$font: roboto-slab;
$font-size-base: 16px;


$primary-color: #3f6ff3;
$Secondary-color: #e2e9fd;
$Neutral300: #f8f9fb;
$Neutral400: #eceff4;
$Neutral500: #c5cfdd;
$Neutral600: #a2aab3;
$Green: #70d36b;
$Yello: #ffcb05;
$Red: #ff5d54;