*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    z-index: 1;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    a {
        color: white;
    }

    nav {
        display: inline;
        margin-inline-start: 2rem;
    }

    .navigation-links {
        display: inline;
        padding: 0;

        li {
            display: inline;
            margin-inline-start: 1rem;
        }
    }
}

main {
    width: min(70ch, 100% - 3rem);
    margin-inline: auto;
    margin-block-start: 10vh;
}

// .main-action {
//     position: fixed;
//     left: 10%;
//     bottom: 10%;
//     font-size: 2rem;
//     width: 75px;
//     aspect-ratio: 1;
//     border-radius: 50%;
// }

.card {
    background: hsl(0deg 0% 0% / 0.1);
    border-radius: 8px;
    padding: 1rem;

    figure {
        margin-inline: -1rem;
        margin-block-start: -1rem;
        position: relative;
    }

    figcaption {
        position: absolute;
        color: white;
        font-weight: 600;
        bottom: 0.75rem;
        left: 1rem;
        line-height: 1;

        >a {
            text-decoration: none;

            &:visited {
                color: inherit;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    img {
        width: 100%;
        aspect-ratio: 16/9;
        display: block;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }
}

:modal {
    border: 5px solid red;
    background-color: yellow;
    box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
    display: none;

    // &:active {}
}

.reference {
    display: inline-flex;


    &::before {
        content: "[";
        font-size: .8rem;
    }

    &::after {
        content: "]";
        font-size: .8rem;
    }

    >a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.modal-wrapper {
    display: none;

    &:active {
        display: block;
    }
}


.references {
    font-size: .8rem;

    li {

        &::after {
            content: "\2197";
        }
    }
}

.toright {
    float: right;
}