body{
    // background-color: rgb(34, 32, 32);
    background-color: rgb(22, 28, 81);
}
.body__form{
    color: white;
    font-family: 'Lato', sans-serif;
}


// this is my header block
.headerbar{
    // background-color: rgb(15, 13, 13);
background-color: rgb(22, 28, 81);
    // font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-family: 'Lato', sans-serif;
    width: 100%;
    .headerbar__elements{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
// this is my header's elements
.headerbar__logo{
    display: inline-block;
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 100px;
}

.headerbar__title{
    display: inline-block;
    // color: rgb(188, 17, 17);
    color: rgb(255, 234, 0);
    font-size: 2em;
}
.headerbar__search{
    border-radius: 4px;
    border: 1px solid black;
}

// there isnt header's modifications


.navbar{
    background-color: rgb(255, 234, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    // font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-family: 'Lato', sans-serif;
    border-radius: 8px 8px 8px 8px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    .navbar__element{
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a{
            color: black;
        }
    }
}

.search{
    color: white;
    font-family: 'Lato', sans-serif;
}

.btn{
    background-color: rgb(255, 234, 0);
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.computer__section{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    .card__section{
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 234, 0);
        color: white;
        box-shadow: 0px 0px 10px rgb(255, 234, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Lato', sans-serif;
        margin: 30px;
        border-radius: 15px;
        .text__section{
            color: black;
        }
        h3{
            font-size: 2rem;
        }
        .display__card{
            margin: 50px;
            width: 300px;
        }
        .m8__card{
            margin: 60px;
            width: 300px;
        }
        .lg__card{
            width: 300px;
            margin: 30px;
        }
    }
}

// page 2 = form
.body__form{
    color: white; 
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}