

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 3fr; 
    grid-gap: 10px;
    height: 100vh; 
.box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;

    &-header {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    &-input {
        flex: 1;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
    }
}

}

box-icon{
    vertical-align: middle;
}

.outcome {
    grid-column: 1 / span 3;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;

    &-header {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    &-input {
        flex: 1;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
    }
}

@media screen and (max-width: 768px) {
    
    body {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
    }

    .big-box {
        grid-column: 1;
        grid-row: 2; 
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    body {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(4, 1fr); 
    }

    .big-box {
        grid-column: 1 / span 2; 
        grid-row: 3 / span 2; /* Place the big box in the third and fourth rows */
    }
}

