@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&family=Source+Code+Pro:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: black;
  min-width: 650px;
  overflow-x: hidden;
  padding-right: 20px ;
}

.box,
.output {
  display: grid;
  grid-template-rows: min-content 1fr;
  background-color: gray;
  padding: .4rem;
}

.box-header,
.output-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

.box-input,
.output-input {
  flex: 1;
  margin-bottom: 10px;
  padding: .4rem;
  margin: 1px;
  border: 1px solid white;
  background-color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  padding: 8px;
}

.box {
  height: 20rem;

  &-header {
    font-size: 1rem;
  }
}

.output {
  height: 30rem;
  border: 1px solid gray;
  border-bottom-width: 1.5rem;
  width: 100%;
  grid-column: span 3;
  grid-row: span 2;


  &-input {
    width: 99.3%;
    height: 90%;
  }
}

@media screen and (max-width: 650px) {
    body {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 440px) {
    body {
      grid-template-columns: 1fr;
    }
  }

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
