
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.login-container {
  width: 300px;
  margin: 100px auto;
}

.dashboard-container {
  display: none;
  margin: 50px auto;
}

.dashboard-info {
  font-size: 18px;
}
