.courses {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto, 1fr);
    //grid-template-rows:repeat(auto, 1fr);
    gap: 0.5rem;
}
.card {
    background: hsl(0deg 0% 0% / 0.1);
    padding: 0.5rem;
    border-radius: 6px;
    

    >*+* {
        margin-block-start: 0.5em;
    }

    .thumbnail {
        margin: -0.5rem;
        position: relative;
        border-radius: 6px 6px 0 0;
        overflow: hidden;

        img {
            width: 100%;
        }

        h2 {
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            color: white;
        }
    }
}
