.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    column-gap: 1rem;
    justify-items: center;
    
    h2 {
        text-align: center;
        text-wrap: balance;
    }

    img {
        width: 100%;
    }
}
