:root {
    --color-Primary: #3f6ff3;
    --color-Secondary: #e2e9fd;
    --color-Neutral-300: #f8f9fb;
    --color-Neutral-400: #eceff4;
    --color-Neutral-500: #c5cfdd;
    --color-Neutral-600: #a2aab3;
    --color-Green: #70d36b;
    --color-Yello: #ffcb05;
    --color-Red: #ff5d54;
}

body {
    font-family: 'Roboto Slab', serif;
}