* {
    margin: 0;
    padding: 0;
    line-height: 100%;
    box-sizing: border-box;
}

#tirgool {
    max-width: 1920px;
    display: block;
    direction: ltr;
    font-size: 1vw;
    color: #000000;
    text-align: left;
    box-sizing: border-box;
    margin: 0 auto 2% auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid green;
}

#tirgool img {
    width: 100%;
    height: auto;
    display: block;
}

#tirgool h1, #tirgool h2, #tirgool h3, #tirgool h4, #tirgool h5, #tirgool h6 {
    font-weight: normal;
    line-height: 100%;
}

#tirgool header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #000000;
    padding: 0.3% 0 0.3% 0;
    border: 0px solid orange;
}

#tirgool header a.brand {
    width: 5%;
    margin: 0 0 0 1%;
    display: inline-block;
    border: 0px solid blue;
}

#tirgool header a.brand img {
    width: 100%;
    display: inline;
    vertical-align: middle;
    border: 0px solid blue;
}


/*======================= תפריט ========================*/


#tirgool header nav {
    margin: 0 0 0 2%;
    display: inline;
    vertical-align: middle;
    border: 0px solid green;
}

#tirgool header nav ul.navigation-links {
    list-style-type: none;
    display: inline;
    border: 0px solid yellow;
}

#tirgool header nav ul.navigation-links > li {
    position: relative;
    display: inline-block;
    padding: 0.5% 2% 0.5% 0;
    border: 0px solid purple;
}

#tirgool header nav ul.navigation-links > li a.FLink {
    width: 100%;
    color:#ffffff;
    font-weight: bold;
    font-size: 0.9em;
    display: inline-block;
    text-decoration: none;
    border: 0px solid green;
}

/********** רמה ראשונה /**********/

#tirgool header nav ul ul.first {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background: #000000;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
}

#tirgool header nav ul li:hover ul.first {
    display: block;
}

#tirgool header nav ul ul.first li {
    width: 10em;
    position: relative;
}

#tirgool header nav ul ul.first li a {
    color: #ffffff;
    padding: 4% 4% 4% 4%;
    text-decoration: none;
    width: 100%;
    font-size: 0.8em;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
}

#tirgool header nav ul ul.first li a:hover {
    color: #ffffff;
    background: rgb(61, 60, 60);
}

#tirgool header nav ul ul.first li a span {
    float: right;
}

/********** רמה שניה /**********/       

#tirgool header nav ul.second {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 10em;
    background: #000000;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
}

#tirgool header nav ul li ul li:hover ul.second {
    display: block;
}

#tirgool header nav ul ul.second li {
    position: relative;
}

#tirgool header nav ul ul.second li a {
    color: #ffffff;
    padding: 4% 4% 4% 4%;
    text-decoration: none;
    width: 100%;
    font-size: 0.8em;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
}

#tirgool header nav ul ul.second li a:hover {
    color: #ffffff;
    background: rgb(61, 60, 60);
}

#tirgool header nav ul ul.second li a span {
    float: right;
}

/********** רמה שלישית **********/

#tirgool header nav ul.third {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 99%;
    width: 10em;
    background: #000000;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
}

#tirgool header nav ul li ul li ul li:hover ul.third {
    display: block;
}

#tirgool header nav ul ul.third li {
    position: relative;
}

#tirgool header nav ul ul.third li a {
    color: #ffffff;
    padding: 4% 4% 4% 4%;
    text-decoration: none;
    width: 100%;
    font-size: 0.8em;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
}

#tirgool header nav ul ul.third li a:hover {
    color: #ffffff;
    background: rgb(61, 60, 60);
}

#tirgool header nav ul ul.third li a span {
    float: right;
}

#tirgool header input[type='text'].search {
    width: 5%;
    outline: none;
    font-size: 0.8em;
    margin: 0 0 0 1%;
    transition: 1s all;
    border-radius: 4px 4px 4px 4px;
    padding: 0.3% 1.5% 0.3% 0.3%;

    background-image: url(../images/ico_search.png);
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-size: 18%;
    
    border: none;
}

#tirgool header input[type='text'].search:focus, #tirgool header input[type='text'].search:valid {
    width: 10%;
    background-size: 9%;
}

#tirgool main {
    width: 35%;
    margin: 0 auto;
    padding: 5% 0 0 0;
    border: 0px solid green;
}

#tirgool main input[type='checkbox'].openPopupCheckbox {
    display: none;
}

#tirgool main input[type='checkbox'].openPopupCheckbox:checked ~ .mask {
    display: block;
}

#tirgool main input[type='checkbox'].openPopupCheckbox:checked ~ .modalePopup {
    display: block;
}

#tirgool main label.openPopup {
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding: 2% 2% 2% 2%;
    background: #2ba6cb;
    text-decoration: none;
    display: inline-block;
    border: 0px solid #1e728c;
 }

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    border: 0px solid green;
}

#tirgool main .modalePopup {
    display: none;
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 4;
    width: 25%;
    margin: 0 auto;
    background: red;
    border-radius: 10px 10px 10px 10px;
    border: 0px solid green;
}

#tirgool main .modalePopup span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    background: yellow;
    padding: 3% 3% 3% 3%;
    border-radius: 10px 10px 0 0;
    border: 0px solid green;
}

#tirgool main .modalePopup p {
    text-align: center;
    padding: 7% 0 3% 0;
    
}

/***************************************************/

#tirgool main article.card {
    background: #e5e5e5;
    margin: 2% 0 0 0;
    border: 0px solid green;
}

#tirgool main article.card figure {
    position: relative;
    border: 0px solid green;
}

#tirgool main article.card figure figcaption {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: bold;
    border: 0px solid green;
}

#tirgool main article.card h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 2% 2% 0 2%;
}

#tirgool main article.card p {
    font-size: 1.1em;
    line-height: 120%;
    padding: 2% 2% 2% 2%;
}

#tirgool main article {
    margin: 3% 0 3% 0;
    border: 0px solid orange;
}

#tirgool main article h2 {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 2% 0 2%;
}

#tirgool main article p {
    position: relative;
    font-size: 0.9em;
    line-height: 130%;
    text-align: justify;
    padding: 2% 2% 0 2%;
}

#tirgool main article sup a {
    color: blue;
    font-size: 1em;
    transition: 0.3s all;
    text-decoration: none;
    transition: 0.3s all;
}

#tirgool main article sup a:hover {
    color: green;
    text-decoration: underline;
}

#tirgool main article a.tool {
    position: relative;
    color: blue;
    text-decoration: dotted;
}

#tirgool main article a.tool span.toolCont {
    display: none;
    position: absolute;
    top: 120%;
    left: 0%;
    z-index: 1;
    width: 13em;
    margin: 7% 0 0 0;
    background: #ffffff;
    box-shadow: 0 0 20px grey;
    border: 0px solid green;
}

#tirgool main article a.tool span.toolCont:before {
    content: "";
    position: absolute;
    top: -4%;
    left: 5%;
    width: 1em;
    height: 0.7em;
    background: gray;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#tirgool main article a.tool span.toolCont span.txt {
    padding: 3%;
    width: 100%;
    font-size: 0.8em;
    color: #000000;
    line-height: 140%;
    display: inline-block;
    border: 0px solid green;
}

#tirgool main article a.tool:hover {
    text-decoration: underline;
}

#tirgool main article a.tool:hover span.toolCont {
    display: block;
}

#tirgool main a.up {
    position: fixed;
    z-index: 2;
    bottom: 2%;
    width: 2.5em;
    height: 2.5em;
    color: #000000;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    padding: 0.6% 0 0 0;
    text-decoration: none;
    display: inline-block;
    background: lightgray;
    box-shadow: 0 0 5px gray;
    border: 0px solid green;
}


@media screen and (max-width: 1024px) {

    #tirgool header input[type='text'].search {
        display: none;
    }

    #tirgool main {
        width: 95%;
    }

    #tirgool main label.openPopup {
        font-size: 4em;
        padding: 4% 2% 4% 2%;
    }

    #tirgool main article {
        margin: 7% 0 3% 0;
    }

    #tirgool main article.card figure figcaption {
        font-size: 4em;
    }

    #tirgool main article.card h2 {
        font-size: 5em;
        padding: 5% 2% 0 2%;
    }

    #tirgool main article.card p {
        font-size: 4em;
    }

    #tirgool main article h2 {
        font-size: 4.5em;
    }

    #tirgool main article a.tool span.toolCont {
        width: 17em;
    }

    #tirgool main article a.tool span.toolCont span.txt {
        font-size: 1.1em;
    }

    #tirgool main article a.tool span.toolCont:before {
        top: -2%;
    }

    #tirgool main article p {
        font-size: 3.5em;
    }

    #tirgool main a.up {
        width: 3em;
        height: 3em;
        font-size: 4em;
        padding: 4% 0 0 0;
    }

    #tirgool main .modalePopup {
        width: 85%;
    }

    #tirgool main .modalePopup span {
        font-size: 6em;
    }

}

@media screen and (min-width: 1920px) {
    #tirgool {
        font-size: 1.2em;
    }
}