@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(rgba(12, 3, 41, 0.3), rgba(12, 3, 51, 0.3));
  padding: 0 5%;
  overflow-y: auto;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav .logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}

nav ul li a:hover {
  color: whitesmoke;
}

.contact-form {
  border: 3px solid black;
  border-radius: 15px;
  background: white;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 80px;
}

.form-title {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}


.button:hover {
  background-color: #45a049;
}
