header
{
    background-color: beige;
    text-align: center;
<<<<<<< HEAD
    width: 300px;
    margin-inline: auto;
    border: 4px dashed black;
    border-radius: 10px;
}
.had1
{
    background-color: rgb(231, 237, 217);
    display: inline;
    border: 3px solid yellow;
    margin: 10px;
=======
    background: blue;
    color: white;
    width: fit-content;
    margin-inline: auto;
>>>>>>> f0e480524bae2e1c90824cc87a2fa87689a209a8
}
