* , ::after , ::before {
    margin: 0px;
}

h1 , ul , button {
    display: inline;
}

header {
    background-color: rgb(196, 238, 255);
    position: relative;
    padding: 8px 50px ;
}

li {
    display: inline-block;
    padding: 0 10px;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
  }

button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    margin: 13px 50px;
    // z-index: 0;
}

button:hover {
    padding: 6px 11px ;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.425);
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 139px;
    height: 25px;
    // visibility:hidden;
    // z-index: 1;
}

h3 {
    display: inline;
    line-height: 3em;
    background-color: rgb(196, 238, 255);
}

main {
    padding: 15px;
    max-width: 600px;
    margin-inline: auto;
}

div {
    visibility:hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    padding: 12px;
    border: rgba(0, 0, 0, 0.523) solid 1px;
    text-align: left;
    box-shadow: 2px 15px 20px 2px;
    border-radius: 3px;
    max-width: 350px;
}

img {
    width: 100%;
}

input:checked {
    +div {
        visibility: visible;
    }
}