body {
    text-align: left;
    }
    
    .div .calss {
    text-align: center;
    }
    
    
    $cell-size: 200px;
    $primary-color: #3498db;
    $light-gray: #f5f5f5;
    
    
    .calendar {
        width: 300px;
        border: 1px solid $light-gray;
        font-family: Arial, sans-serif;
        text-align: center;
    }
    
    .weekdays {
        display: grid;
        grid-template-columns: repeat(8, $cell-size);
        background-color: $light-gray;
        div {
            padding: 25px;
        }
    }
    
    .days {
        display: grid;
        grid-row: repeat(12, $cell-size);
    }