* {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Chelsea Market', cursive;
    display: flex;
    overflow: hidden;
}

$color1: #EFE1D1;
$color2: #A78295;
$color3: #3F2E3E;
$color4: #331D2C;


.left-menu {
    background-color: $color4;
    color: $color1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 3rem 0;
    text-align: center;

    .top,
    .bottom {
        list-style: none;
        padding: 0 2rem;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}


.content {
    background-color: $color3;
    padding: 3rem 5rem;
    flex: 8;
    overflow: auto;

    .header1 {
        font-size: 2rem;
        color: #EFE1D1;
    }

    .header2 {
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 0.3rem;
        color: $color1;
    }

    .text {
        width: min(800px, 65vw);
        color: $color2;
        line-height: 1.5rem;
    }
}