*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}  

.main_width{
    width: calc(100% -3rem);
    padding: 40px 60px 40px 60px;
}

.header_desine{
    background-color: gainsboro;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    ol{
        display: inline-block;


        li{
            display: inline;
            padding: 5px;
        }
    }

}
.footer_styling{
    width: calc(100% -3rem);
    padding: 40px 60px 40px 60px;
    border-top: dotted gray;
}