.body
{
    .menu
    {
        display: flex;
        flex-direction: column;
        width: 5rem;
        justify-content: center;
            .header
    {
        display: flex;
        flex-direction: row;
    }
    }
    
}


