*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(206, 206, 206);
}

header {
    background: hsla(0, 0%, 100%, 0.2);
    
}


ul.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    background-color:#30014c ;
    border-radius: 230px;
    display: inline-block;
    text-align: center;
    margin-inline: auto;
}
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumbs li+li::before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumbs li a {
    color: #ffffff;
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    color: #b2b2b2;
    text-decoration: underline;
    cursor: pointer ;
}



h1 {
    
    background: #30014c;
    color: white;
    text-align: center;
    width: fit-content;
    border-radius: 1rem;
    margin-inline: auto;
    margin-top: 1rem;



    
    
}

.current {
    background-color: #006502;
    border-radius: 1rem;
}

P {
    text-align: center;
    margin-inline: 300px;

    
}
img {
    width: 350px;
    margin-inline: 520px;
}

.lorem{
    width: 1000px;
    margin-inline: 100px;
}

