* {
    margin: 0;
    box-sizing: border-box;

    &::before {
        box-sizing: border-box;
    }

    &::after {
        box-sizing: border-box;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    margin-top: 2rem;
    margin-inline: auto;
}

.image {
    text-align: center;

    &>img {
        box-shadow: 0 0 8px rgb(0 0 0 / 0.3);
        border-radius: 6px;
        width: 50vw;
    }
}

.tooltip {
    position: relative;

    .tooltiptext {
        visibility: hidden;
        width: 42ch;
        background-color: rgb(200, 200, 200);
        color: #ffffff;
        text-align: left;
        padding: 5px;
        border-radius: 4px;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -21ch;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgb(200, 200, 200) transparent;
        }
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}