*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
#exer-canvas{
   position: absolute;
   width: 300px;
   height:200px;
   background-color: azure;
   border: 1px solid black;
   margin-top: 50px;
   margin-left: 50px;
}
#frame{
    position: absolute;
    width: 300px;
    height:200px;
    background-color: azure;
    border: 1px solid black;
    margin-top: 250px;
    margin-left: 50px;
 }
.text{
    width: 300px;
    height:200px;
    background-color: azure;
    border: 1px solid black;
    margin-top: 450px;
    margin-left: 50px;
    position: relative;
 }
 .ballon{
    display: inline-block;
    position: relative;
   width: 100px;
   height: 100px;
 }