@use "defaults"as defaults;
@use "reset";

.game-screen {
    height: 100%;
}

.box {

    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    left: 0;
    top: 0;
}

.delta {
    float: right;
}