* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.card {
    padding: 1rem;
    margin: 1rem;
    background: hsl(0deg 0% 0% / 0.1);
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    flex-shrink: 3;
}

body {
    
    display: inline-flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;

}