// Main Font
@font-face {
    font-family: 'main-font-light';
    src: url("../assets/fonts/main-font/fbextaza-light.woff2") format('woff2');
}
@font-face {
    font-family: 'main-font-regular';
    src: url("../assets/fonts/main-font/fbextaza-regular.woff2") format('woff2');
}
@font-face {
    font-family: 'main-font-bold';
    src: url("../assets/fonts/main-font/fbextaza-bold.woff2") format('woff2');
}

// Fallback Font
@font-face {
    font-family: 'fallback-font-light';
    src: url("../assets/fonts/fallback-font/Roboto-Light.ttf") format('ttf');
}
@font-face {
    font-family: 'fallback-font-regular';
    src: url("../assets/fonts/fallback-font/Roboto-Regular.ttf") format('ttf');
}
@font-face {
    font-family: 'fallback-font-bold';
    src: url("../assets/fonts/fallback-font/Roboto-Bold.ttf") format('ttf');
}

$font-face-light: 'main-font-light', 'fallback-font-light';
$font-face-regular: 'main-font-regular', 'fallback-font-regular';
$font-face-bold: 'main-font-bold', 'fallback-font-bold';


$font-size-small: 0.75rem;
$font-size-regular: 1rem;
$font-size-medium: 1.25rem;
$font-size-big: 1.5rem;
$font-size-bigger: 2rem;
$font-size-huge: 3rem;

$font-size-title: 2.5rem;
