*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: hsl(0deg 0% 80%);
}

button {
    appearance: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    margin: 2rem;

    >* {
        border: 1px solid black;
    }
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

figcaption {
    font-size: 1.1rem;
    font-weight: 500;
}

.button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: calc(2rem + 1.6em);
    border: 2px solid white;
    background: hotpink;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: scale 300ms;
    will-change: scale;

    &:hover {
        background: hsl(325deg 99% 72%);
        scale: 1.1;
    }

    &:active {
        background: hsl(335deg 100% 70%);
    }

    @media (prefers-reduced-motion: reduce) {
        transition: none;

        &:hover {
            scale: 1;
        }
    }
}

.checkbox {
    --ball-size: 30px;
    --slot-padding: 1px;
    --slot-height: calc(var(--ball-size) + 2 * var(--slot-padding));
    --slot-width: calc((var(--ball-size) + var(--slot-padding)) * 2);
    cursor: pointer;

    input {
        display: none;

        &:checked+.slot {
            background: green;

            .ball {
                left: calc(var(--slot-width) - var(--ball-size) - var(--slot-padding));
            }
        }
    }

    .slot {
        width: var(--slot-width);
        height: var(--slot-height);
        background: #999;
        border-radius: var(--slot-height);
        position: relative;
    }

    .ball {
        width: var(--ball-size);
        height: var(--ball-size);
        background-color: #ddd;
        border-radius: var(--ball-size);
        position: absolute;
        top: var(--slot-padding);
        left: var(--slot-padding);
        transition: left 300ms ease-out;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }
}

.accordion {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;

    input {
        display: none;

        &:checked+label {
            &::before {
                rotate: 90deg;
            }
        }

        &:checked~p {
            height: 100%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    label {
        padding: 0.5rem;
        background: brown;
        color: white;
        font-weight: 500;
        display: flex;
        cursor: pointer;

        &::before {
            content: "👉";
            display: inline-block;
            width: 2rem;
            max-height: 2rem;

            transition: rotate 300ms;
        }
    }

    p {
        padding-left: 2.5rem;
        background: white;
        height: 0;
        transition: height 300ms,
        padding 300ms;
        overflow: hidden;
        }
        }