* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: inline-block;
}

body {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    border: 0px solid green;
}

#parent img {
    width: 100%;
    height: auto;
    display: block;
}

#parent h1, #parent h2, #parent h3, #parent h4, #parent h5, #parent h6{
    font-weight: normal;
    line-height: 100%;
}

#parent {
    display: grid;
    grid-template-columns: 4em auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100%;
    border: 0px solid orange;
}
    
.a { grid-area: 1 / 1 / 2 / 2; height: 100%; box-shadow: 5px 0 10px gray; border: 0px solid blue;}
.b { grid-area: 1 / 2 / 2 / 3; padding: 0 1% 0 1%; border: 0px solid red;}

#parent nav {
    text-align: center;
}

#parent nav ul {
    width: 100%;
    list-style-type: none;
    margin: 15% auto 0 auto;
    border: 0px solid green;
}

#parent nav ul li {
    padding: 20% 0 20% 0;
    text-align: center;
    border: 0px solid green;
}

#parent nav ul li:hover {
    background: #eceff4;
    box-shadow: 10px 0 10px -10px #001f9c inset;
}

#parent nav ul li a {
    width: 58%;
    color: #c5cfdd;
    transition: 0.3s all;
    text-decoration: none;
    display: inline-block;
}

#parent nav ul li a:hover {
    color: #3f6ff3;
}

#parent nav a.logo {
    color: #3f6ff3;
    font-size: 1.5em;
    margin: 20% 0 0 0;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

#parent nav ul li.space {
    height: 100%;
    margin-top: 100%;
    display: inline-block;
}

#parent nav ul li svg {
    width: 100%;
    border: 0px solid green;
}

#parent nav ul li a.bell {
    position: relative;
    border: 0px solid yellow;
}

#parent nav ul li a.bell::before {
    content: "";
    position: absolute;
    top: 5%;
    right: 13%;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: red;
    border: 0px solid green;
}

#parent .flex-content {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    border: 0px solid green;
}

#parent .flex-content > div {
    width: 100%;
    border: 0px solid orange;
}

#parent .flex-content > div .flex-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5% 0 0 0;
    border: 0px solid yellow;
}

#parent .flex-content > div .flex-content-top > div {
    width: 33%;
    text-align: center;
    border: 0px solid blue;
}

#parent .flex-content > div .flex-content-top > div.box1 {
    text-align: left;
}

#parent .flex-content > div .flex-content-top > div.box1 span {
    font-size: 1.3em;
    font-weight: bold;
}

#parent .flex-content > div .flex-content-top > div .container {
    position: relative;
    width: 40%;
    height: 3em;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    border: 0px solid green;
}

#parent .flex-content > div .flex-content-top > div .container span {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: right;
    line-height: 150%;
    display: inline-block;
    background: #eceff4;
    border-radius: 10px;
    padding: 4% 16% 0 0;
    border: 0px solid red;
}

#parent .flex-content > div .flex-content-top > div .container span:before {
    content: "Calendar";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    color: #ffffff;
    transition: 0.5s all;
    background: #3f6ff3;
    border-radius: 10px;
    text-align: center;
    padding: 4% 0 0 0;
    line-height: 150%;
    box-sizing: border-box;
}

#parent .flex-content > div .flex-content-top > div .container input:checked ~ span:before {
    left: 50%;
}

#parent .flex-content > div .flex-content-top > div .container input:checked ~ span {
    text-align: left;
    padding: 4% 0 0 16%;
}

#parent .flex-content > div .flex-content-top > div.box3 {
    text-align: right;
}

#parent .flex-content > div .flex-content-top > div.box3 a.points {
    color: #3f6ff3;
    margin: 0 2% 0 0;
    padding: 1% 2% 1% 2%;
    display: inline-block;
    border-radius: 5px;
    background: #e2e9fd;
    text-decoration: none;
    border: 0px solid green;
}

#parent .flex-content > div .flex-content-top > div.box3 a.create {
    position: relative;
    color: #ffffff;
    padding: 1% 2% 1% 2%;
    display: inline-block;
    border-radius: 5px;
    background: #3f6ff3;
    text-decoration: none;
    border: 0px solid green;
}

#parent .flex-content-times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0 0 0;
    border: 0px solid green;
}

#parent .flex-content-times > div {
    width: 33%;
    border: 0px solid green;
}

#parent .flex-content-times > div select {
    width: 6em;
    border: none;
    outline: none;
    color: #3f6ff3;
    font-size: 0.8em;
    margin: 0 2% 0 0;
    font-weight: bold;
    border-radius: 8px;
    padding: 2% 0 2% 1%;
    background: #e2e9fd;
}

#parent .flex-content-times > div a.btnToday {
    color: #3f6ff3;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    background: #e2e9fd;
    text-decoration: none;
    border: 0px solid green;
}

#parent .flex-content-times > div.boxTimes {
    text-align: center;
}

#parent .flex-content-times > div.boxTimes span {
    line-height: 100%;
    vertical-align: middle;
    border: 0px solid green;
}

#parent .flex-content-times > div.boxTimes a {
    color: #000000;
    font-size: 2.5em;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    border: 0px solid green;
}

#parent .flex-content-times > div.boxTimes span.month {
    color: #a2aab3;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 2% 0 2%;
}


#parent .flex-content > div table {
    width: 100%;
    margin: 1% 0 1% 0;
    border-collapse: collapse;
    border-style : hidden !important;
}

#parent .flex-content > div table, td, th {
    border: 1px solid #eceff4;
}

#parent .flex-content > div th:first-child {
    width: 3%;
}

#parent .flex-content > div table th span {
    display: block;
    font-size: 0.9em;
}

#parent .flex-content > div table td {
    height: 5em;
}

#parent .flex-content > div table td:first-child {
    text-align: right;
    padding: 0 0.2% 0 0;
    vertical-align: top;
}


@media screen and (max-width: 1024px) {
    
    #parent {
        grid-template-columns: auto;
    }

    .a { grid-area: 1 / 1 / 2 / 2; border: 1px solid red;}
    .b { grid-area: 2 / 1 / 3 / 2; border: 1px solid red;}
    
    
}