@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

$color-main: #0000;
$color-secondary: #ffff;

$color-green: #9BFF99;
$color-red: #FF9999;
$color-blue: #9AEDFF;
$color-orange: #FFE299;


$font-main: "Inter", sans-serif;


$border-component: 1px;
$border-component-bottom: 6px;


$screen-mobile: 750px;