*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(flwer.jpg);
    background-color: white;
}
.main-header{
    background-color: aquamarine;
    width: 80%;
    margin-inline: auto;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 2rem;
}
main{
   width: min(70ch, 100%-2rem);
   margin-inline: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
form{
    margin-inline: auto;
    border: 2px solid gray;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: transparent 30%;
}
input
 {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    border-radius: 3px;
}
select, button{
    margin: 10px;
    border-radius: 3px;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
.bouquet>*+* {
    margin-block-start: 1em;
}
