*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	font-size: 1.2rem;
	line-height: 1.6;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	height: 100%;
}

img,
svg {
	display: block;
}
