@use "defaults" as defaults;

@use "navbar";
@use "dashboard/dashboard";

.main-wrapper {
    
    // get parent height
    height: 100%;

    display: flex;
    
    // main flex to support mobile breakpoint
    @media (max-width: defaults.$screen-tablet) {
        
        flex-direction: column;
        gap: 1rem;
        
        .dashboard {
            flex: 1;
            width: 100%;
            
        }
    }
}