* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#tooltip {
    position: relative;
    border-bottom: 10px dotted white;
    padding: 7px;
    font-size: 2.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    user-select: none;
}

#tooltip-text {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#tooltip-text::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: white transparent transparent transparent;
}

#tooltip:hover #tooltip-text {
    top: -130%;
    visibility: visible;
    opacity: 1;
}

.title {
    display: grid;
    place-items: center;
    margin-top: -50rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    color: white;
    transition: color 0.5s ease;
    user-select: none;
}

.title:hover {
    color: #a0ef97;
}

.hidden-left {
    opacity: 0;
    transform: translateX(-100%);
    transition-property: opacity, transform;
    transition-duration: 1.5s, 2s;
}

.show-left {
    opacity: 1;
    transform: translateX(0);
}

.hidden-right {
    opacity: 0;
    transform: translateX(100%);
    transition-property: opacity, transform;
    transition-duration: 1.5s, 2s;
}

.show-right {
    opacity: 1;
    transform: translateX(0);
}