body {
background-color: aquamarine;
}

article {
font-size: x-large;
}


h1 {
color: rgb(184, 11, 11);
margin-top: auto;
text-align: center;
}

.tooltiptext {
    visibility: visible;
    background-color: #8f1e1e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

label {
color: #8f1e1e;
}