body {
    background-image: url(2222.jpg) ;

}


h1 {
    color: rgb(131, 141, 88); 
    text-align: center;
    font-size: 70px;
    display:block;
    margin-top:-17px;
}

ul {

    color: peru; 
    text-align:center; 
    font-size: large;
}

li{
    display:block;
    margin: top -10px;
}

h2 {
    color: mediumpurple; text-align: left  ;
     font-size: 200%;
}


h3 {
    color: rgb(213, 216, 16); 
    text-align: right;
    font-size: 30px;
}

p {
  font-size:x-large; 
    text-align:right;
}


button {
    appearance: none;
    padding: 4px 8px;
    border: 2px solid rgba(238, 255, 0, 0.849);
    text-transform: lowercase;
    font-size: larger;
    background-color: rgb(255, 166, 0);
}

.card {
    margin: 10px;
    box-shadow: 0 0 8px rgb(0 0 0 / 0.2);
    padding: 8px;
    border-radius: 8px;
}

.card.smaller {
    max-width: 45ch;
}

p.smaller {
    font-size: 0.8rem;
}


h5 {
    color: rgb(216, 154, 112);
     text-align: center ; 
     font-size: 200%;
     margin-inline-start: auto;
}

img {
display:block
size: 0cm;
margin: :right;
width: 500px; 
padding: 50px;




}
 
h6 {
    background-color: wheat; 
    text-align: center;
    font-size: larger;
}


header {
background: coral;
color: rgb(255, 187, 0);
font-size: x-large;
text-align: center;
}

button .class {
border: 2px rgb(135, 222, 161);
}


header {
background-color: rgb(17, 0, 255);
text-overflow: clip;
}

nav {
text-align: center;
font-size: x-large;
background-color: aqua;
}

article {
text-align: center;
font-size: xx-large
}

h4 {
color: rgb(152, 204, 175);
font-size: xx-large;
}

