@use "defaults/fonts" as fonts;

.main-content {
    // centers element
    width: 95%;
    margin-inline: auto;
}

.properties {

    width: 100%;

    &__list {
        width: 100%;

        // flex-parent
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
    
        list-style: none;
    
        // last placeholders
        &> *.placeholder {
            height: 5px;
            visibility: hidden;
        }
    }
}


.property {
    // flex-child
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 16rem;

    &__img {
        aspect-ratio: 1/1;
        width: 100%;
        
        border-radius: 0.5rem;
    }

    &__details {

        padding: 0.5rem 0;

        // font styling
        font-family: fonts.$font-light;
        color: black;
        line-height: 1.5rem;

    }
    
    &__location {
        font-size: 1rem;
    }

    &__description {
        color: rgba(black,0.5);
    }

    &__date {
        color: rgba(black,0.5);
    }

    &__price {
        font-size: 1rem;

        &--value {
        font-family: fonts.$font-main;
        }
    }

}