.side-bar {
    display: flex;
    flex-direction: column;
    
    height: 100%;

    .separate {
        margin-top: auto;
    }
}

.side-bar li {
    list-style: none;
    padding: 0.5rem;
    cursor: pointer;

}