<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> using ejs file with express node</h1>
    <form action="/views"  method="POST"></form>
    <label for="">First name
        <input type="text" name="firstName" value="<%=locals.firstName%>">
        <button type="submit">Submit</button>
    </label>
    
</body>
</html>