* {
    margin: 0;
}

body {
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
}

main {
    background-color: #57375D;
    width: 60vw;
    text-align: center;
    margin: auto;
}

.headline {
    color: #FF3FA4;
    font-size: 2rem;
}

.value {
    color: #FFC8C8;
    font-size: 1.4rem;
}