.card {
    background: hsl(0deg 0% 0% / 0.1);
    padding: 0.5rem;
    border-radius: 6px;

    >*+* {
        margin-block-start: 0.5em;
    }

    .thumbnail {
        margin: -0.5rem;
        position: relative;
        border-radius: 6px 6px 0 0;
        overflow: hidden;

        img {
            width: 100%;
        }

        h2 {
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            color: white;
        }
    }
}

.courses {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20ch, 1fr) );
    grid-gap: 1rem;
}

// .banner {
//     display: grid;
//     grid-auto-flow: column;
//     background-color: red;
//     grid-column-start: 2;
//     grid-column-end: 4;
//     grid-row-start: 2;
//     grid-row-end: 4;
//     position: fixed;
//     z-index: 1;
    
// }
