.grid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background: linear-gradient(135deg, rgba(0, 153, 0, 1) 29%, rgba(0, 128, 0, 1) 65%);
}

.site-header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.393);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.482);
    user-select: none;
}

.brand {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.374);
    border-radius: 20px;
    padding-inline: 1ch;
    font-weight: 600;
    color: yellowgreen;
}

#dark-mode-button {
    font-weight: 600;
}

.avatar__image {
    width: 3rem;
    border-radius: 50%;
}

.card {
    line-height: 1.8;
    padding: 2rem;
    background-color: gainsboro;
    width: 60%;
    border-radius: 0 0 8px 8px;
    box-shadow: -5px -5px 10px 5px rgba(0, 0, 0, 0.2);
}

.card__headline {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.card-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5rem;
}

.button-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.button {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    padding: .5rem;
    user-select: none;
    transition: .3s ease;

    &:hover {
        background: rgba(0, 0, 0, 0.516);
        color: white;
        cursor: pointer;
    }

    &:active {
        background: rgb(0, 17, 199);
    }
}

#clear-button, #reset-button {
    &:hover {
        background: rgba(146, 0, 0, 0.516);
        color: white;
        cursor: pointer;
    }

    &:active {
        background: rgb(146, 0, 0);
    }
}

.--pointer {
    cursor: pointer;
}

.--centered-text {
    text-align: center;
}

.--dark-mode {
    background: rgba(0, 0, 0, 0.568);
    color: rgb(189, 189, 189);
}