.grid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(0, 153, 0, 1) 29%, rgba(0, 128, 0, 1) 65%);
}

.card {
    line-height: 1.8;
    padding: 2rem;
    background-color: gainsboro;
    width: 60%;
    box-shadow: -5px -5px 10px 5px rgba(0,0,0,0.2);
}

.card__headline {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.card-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5rem;
}

.button-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.form-button {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    padding: .5rem;
    transition: .3s ease;
    
    &:hover {
        background: rgba(0, 0, 0, 0.356);
        color: white;
        cursor: pointer;
    }
    
    &:active {
        background: rgb(0, 17, 199);
    }
}

.--pointer {
    cursor: pointer;
}
