.button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: calc(2rem + 1.6em);
    border: 2px solid white;
    background: hotpink;
    color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background: hsl(325deg 99% 72%);
    }

    &:active {
        background: hsl(335deg 100% 70%);
    }
}