.actions {
    display: flex;
    justify-content: center;
    gap: 0.3rem;

}

.button {
    appearance: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: calc(1em + 0.4rem);
    padding: 0.2rem 0.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &--primary {
        background: var(--color-primary);
        color: white;
    }

    &--secondary {
        background: white;
        color: var(--color-primary);
        border: 1px solid currentColor;
    }
}
