html {
    font-size: calc(1rem + 0.5vw);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.completed {
    text-decoration: line-through;
}

.toggleButton {
    display: inline;
}