body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 174, 255);
}
.headerbar{
    display: flex;
    align-items: center;
        justify-content: space-around;
    .headerbar__logo{
        display: flex;
        flex-direction: column;
        img{
            width: 100px;
        }
        .coulissement{
            height: 40px;
        }
    }
    button{
        padding: 5px 10px;
        background-color: rgb(255, 208, 0);
        border: 0px;
        border-radius: 10px;
        a{
            text-decoration: none;
            color: black;
        }
    }
    .icon_localistaion{
        height: 50px;
    }
    .icon_search{
        height: 50px;
    }
}