@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@400;500;600;700&display=swap');

body {
	overflow: hidden;
}

.calendar-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	position: absolute;
	gap: 0.6rem;
	margin-top: 8rem;

	&__rectangle {
		border: 1px solid black;
		width: 200px;
		height: 80px;
		transition: transform 500ms;

		&:hover {
			transform: scale(1.02);
			cursor: default;
		}
	}

	&__day {
		list-style-type: none;
		text-align: center;
		font-size: 2.1rem;
		font-family: 'REM', sans-serif;
		transition: transform 500ms;

		&:hover {
			transform: scale(1.05);
			cursor: default;
		}

		&:active {
			transform: scale(0.9);
			cursor: default;
		}
	}
}

.new-event-button-container {
	display: flex;
	position: relative;
	left: 76rem;
	bottom: 43rem;
	width: 15rem;

	&__btn {
		background: #3f6ff3;
		color: #fff;
		border-radius: 15px;
		padding: 10px 20px;
		font-size: 1.5rem;
		border: none;
		transition: transform 500ms;

		&:hover {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(0.9);
			cursor: default;
		}
	}
}
