
canvas{
    border: 1px solid black;
}
body{
    margin: 0;
}
header{
display: inline-block;
background-color: aliceblue;
width: 80%;
align-items: center;
margin-left: 10%;
margin-right: 10%;
border: 2px solid rgb(165, 165, 228, 0.5);
border-radius: 15px;
box-shadow: 3px 2px rgb(165, 165, 228, 0.5);
}
nav{
display: flex;
justify-content: center;
margin: 2px 10px 2px 10px;
padding: 0.5rem;

}
a{
margin: 2px 10px 2px 10px;
}