/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  --primary-color: #3f6ff3;
  --secondary-color: #e2e9fd;
  --neutral-300: #f8f9fb;
  --neutral-400: #eceff4;
  --neutral-500: #c5cfdd;
  --neutral-600: #a2aab3;
  --green-color: #70d36b;
  --yello-color: #ffcb05;
  --red-color: #ff5d54;
}


  *{
    font-family: 'Roboto Slab', serif;
  }

  body{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    overflow: hidden;
  }


  .sidenav{
    grid-area: 1 / 1 / 13 / 2;
    list-style: none;
    height: 100vh;
    border: 1px solid #e2e9fd;
    padding: 0.3rem;
    box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.20);
    width: 75px;

  }

  .sidenav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 100%;
    padding: 20px;

    &--logo{
      font-size: 40px;
      color: #3f6ff3;
    }
  }
    
    .sidenav__menu--links {
      width: 1.7rem;
      height: 1.7rem;
      color: #a2aab3;
      width: 100%;
      margin: 0;
      position: relative;
  
      &:hover {
          color: #3f6ff3;
          background-color: #c5cfdd;
      }
  
      &:before {
          content: "";
          background-color: #3f6ff3;
          position: absolute;
          left: -23px;
          top: 0;
          height: 30px;
          width: 2px;
          transform: scaleY(0); 
          transition: transform 0.3s ease; 
      }
  
      &:hover:before {
          transform: scaleY(1); 
      }
  

  }
  
  .sidenav__menu--links--bell{
    display: flex;
    position: relative;
    width: 100%;
  }

  .counter{
    position: absolute; 
    top: 1px; 
    right: 3px; 
    background: #ff5d54;
    border-radius: 50%;
    border: none;
    font-size: 10px;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

  
  }

  .calndar__hero{
    grid-area: 2 / 2 / 14 / 8;
    width: 100vw;


  }

  .calndar{
    grid-area: 1 / 2 / 2 / 8; 
    display: flex;
    width: 94%;
    cursor: pointer;

    &__left{
      
      &__logo{
        margin-right: auto;
      }

    }

    &__middle{
      display: flex;
      margin-left: auto;
      text-align: center;
      justify-content: center;
      gap: 1rem;
      flex-direction: column;
      margin-left: 42rem;
      flex: 1;
    
    

      .middle__top{
        display: flex;
        
        &--left{
          color: white;
          background: #3f6ff3;
          padding: 10px;
          border-radius: 17px;
        }

        &--right{
          color: #a2aab3;
          background-color: #c5cfdd;
          padding: 10px;
          border-radius: 17px;
        }
  
      }

      .calndar__submiddle{
        display: flex;
        align-items: center;
        gap:0.2em;
        color: #a2aab3;
      }
    }

  }
  
  .calndar__right{
    display: flex;
    
    justify-content: flex-end;
    gap: 1rem;
    margin-left: auto;
    

    .calndar__calndar--right{
      color: #3f6ff3;
      border:1px solid black;
      border-radius: 50px;
      padding: 10px;
      background-color: #c5cfdd;
      
    }

    .calndar__calndar--left{
      background-color: #c5cfdd;
    }
  }

  .calndar__button{
    display: flex;
    gap: 1px;


    
    button{
     border: none;
     padding: 10px 10px;
     font-size: 0.9rem;
     width: max-content;
     background: #e2e9fd;
     color: #3f6ff3;
     border-radius: 15px
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    border-top: transparent;
    border-left: transparent;
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: transparent;
  }
