<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <style>
        html{
            font-size: 2rem;

        }
        body{
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>
</head>

<body>
<h1>Todos</h1>
<ul> 
   <% for (let todo of todo) {%>
  <li> <%= todo  %></li> 
  <% } %> 

</ul>
<p> Todos count: <%= count%> </p>
</body>
</html>