*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: hsl(0deg 0% 0% / 0.2);
}

ul, li {
    display: inline;
}

nav {
    display: inline-block;
    width: 350px;
    border: 2px solid red;
    margin-left: 3rem;
}

button {
    float: right;
}

li::before {
    content: "⚫ ";
    font-size: 0.6rem;
}

h1 {
    text-align: center;
    background: blue;
    color: white;
    margin-inline: 35%;
}
