body {
background-color: aquamarine;
}

article {
font-size: x-large;
}


h1 {
color: rgb(184, 11, 11);
margin-top: auto;
text-align: center;
}



label {
color: #8f1e1e;
}

h6 {
font-size: large
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */ 
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}






