body {
    background-color: lightblue;
    color: black;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: gray;
    color: black;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkgray;
}

button:active {
    transform: scale(1.05);
}