<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>Todos</h1>
    <form action="/addTodo">
        <input type="text" name="todo" autofocus />
        <button type="submit">Add</button>
    </form>
    <ul>
        <% for (let todo of todos) { %>
            <li>
                <%= todo %>
            </li>
            <% } %>
    </ul>
    <p>Todos count: <%= todos.length %>
    </p>
    <p>
        <%= visits %> "people" has viewed this page
    </p>
</body>

</html>