.title-container {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 20px;

	&__title {
		color: white;
		font-family: 'Poppins', sans-serif;
		font-size: 2rem;
	}
}

.button-container-red {
	display: flex;
	justify-content: center;
	align-items: center;

	&__btn {
		background: white;
		color: black;
		font-size: 2rem;
		width: 100px;
		height: 80px;
		border-radius: 15px;
	}
}

.button-container-white {
	display: flex;
	justify-content: center;
	align-items: center;

	&__btn {
		background: white;
		color: black;
		font-size: 2rem;
		width: 100px;
		height: 80px;
		border-radius: 15px;
	}
}
.button-container-new {
	display: flex;
	justify-content: center;
	align-items: center;

	&__btn {
		background: white;
		color: black;
		font-size: 2rem;
		width: 100px;
		height: 80px;
		border-radius: 15px;
	}
}
