.soaring-balloon {
    position: absolute;

    img {
        width: 200px;
    }

    cursor: pointer;
}

#hearts {
    position: absolute;
    top: 30px;
    right: 20px;
  }
  
i {
    padding: 0 4px;
}