:root {
    --sky-color: skyblue;
    --ground-color: green;
    --primary-color: burlywood;
    --secondary-color: crimson;
    --object-size-large: calc(var(--object-size-medium)*2);
    --object-size-medium: 20px;
    --object-size-small: calc(var(--object-size-medium)/2);
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.score {
    margin-inline: var(--object-size-small);
    font-size: 4vw;

    @media screen and (max-width: 400px) {
        font-size: 7vw;
    }
    @media screen and (min-width: 800px) {
        font-size: 2.5vw;
    }
}

.lives {
    margin-inline: var(--object-size-small);
    display: flex;
    gap: .5rem;
    list-style: none;

    &__hearts {
        max-width: 3vw;

        @media screen and (max-width: 400px) {
            max-width: 5vw;
        }
        @media screen and (min-width: 800px) {
            max-width: 2vw;
        }
    }
}

.sky {
    background: var(--sky-color);
}

.ground {
    background: var(--ground-color);
}