html,
body {
    height: 100%;




}

body {
    display: flex;
    flex-direction: column;
   





    >main {

    flex: 1;



        // flex: 1 1 0;

        // flex-shrink: 1; // default is 1
        // flex-grow: 1; // default is 0
        // flex-basis: 0; // default is auto


    }
}



h1 {
    display: block;
    font-size: 2em;



}


.all {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-inline-start: auto;
    margin-inline-end: auto;





    article{
    flex: 0.5 0.5 25%;
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.1);
    background-color: lightgray;
    border: solid 0.1px;
    text-align: center;
    

    img {
        width: 100%;
        border-radius: 0 0 2px 2px;

    }


    }
    
}


nav {
    height: 100%;
    width: 100px;

    top: 0;
    left: 0; 
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px 8px 8px 0;
    padding: 10px;

    .brand {
        font-size: 25px;
        margin-left: 3px;
    }

    ul
{
   margin: 0; 
   padding: 5px;
}
    a {
         padding-bottom: 10px;
        text-decoration: none;
        font-size: 20px;
        color: #070000;
        display: block;
    }

    a:hover {
        color: #f1f1f1;
    }
}



footer {
    text-align: center;
}