*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: hsl(0deg 0% 80%);
}

button {
    appearance: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    margin: 2rem;
    gap: 0.2rem;

    >* {
        border: 1px solid black;
    }
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

figcaption {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}