header
{
    background-color: beige;
    text-align: center;
    width: 300px;
    margin-inline: auto;
    border: 4px dashed black;
    border-radius: 10px;
}
.had1
{
    background-color: rgb(231, 237, 217);
    display: inline;
    border: 3px solid yellow;
    margin: 10px;
}
