*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: hsl(0deg 0% 0% / 0.2);
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

li::before {
    font-size: 0.6rem;
}

h1 {
    text-align: center;
    color: white;
}

.titlespan{
    background: blue;
}

.card {
    width: 70vw;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content  {
    padding: 20px;
    color: black;
    text-align: center;
  }

  .card-content h1  {
    color: black;
    text-align: center;
  }
  
  .content2{
    margin-top: 10rem;
    margin: auto;
    text-align: center;
  }

  .imagetext{
    position: relative;
    bottom: 40px;
    left: 5px;
    color: brown;
  }