body{
    background-color: black;
}

a{
    appearance: none;
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* debut nav */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
}

.logo{
    margin-left: 30px;
}
.logo:hover{
    text-decoration: dashed;
    opacity: 0.5;
}

.montre{
    margin-right: 30px;
}
.montre:hover{
    opacity: 0.5;
}

.iphone:hover{
    opacity: 0.5;
}

.ipad:hover{
    opacity: 0.5;
    color: white;
}

.mac:hover{
    opacity: 0.5;
}
/* fin nav */

.imgmontreterre{
    width: 1000px;
}

/* debut footer */
/* reduire la taille des elements du footer / fait */
footer{
    font-size: 1em;
    background-color: rgb(24, 24, 24); 
    border-radius: 10px; 
    display: flex; 
    flex-direction: row; 
    justify-content: center
}
.ffooter{
    color: antiquewhite; 
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.5em;
    padding: 75px 75px 75px 0px;
    font-weight: bold;
    display: flex;
}


.num{
    display: flex;
    font-size: 1.2em;
    margin: 100px 50px 100px 50px;
    color: antiquewhite; 
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.num:hover{
    opacity: 0.6;
    text-decoration:underline;
}

.insta{
    display: flex;
    font-size: 1.2em;
    margin: 100px 50px 100px 50px;
    color: antiquewhite; 
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.insta:hover{
    opacity: 0.6;
    text-decoration: underline;
}


.face{
    display: flex; 
    margin: 100px 50px 100px 50px;
    color: antiquewhite; 
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2em;
}
.face:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.mail{
    display: flex;
    font-size: 1.2em;
    margin: 100px 50px 100px 50px;
    color: antiquewhite; 
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.mail:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.maps{
    color: antiquewhite; 
    margin: 100px 50px 100px 50px;
    text-decoration: none;
    font-size: 1.2em;
}
.maps:hover{
    opacity: 0.6;
    text-decoration: underline;
}

.monlogo{
    display: flex;
    width: 150px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}

/* fin footer */

/* debut header */
.awatch{
    color: white; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    display: flex; 
    justify-content: center; 
    font-size: 4em
}
.series8{
    color: rgb(230, 0, 0); 
    display: flex; 
    justify-content: center; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 1.2em; letter-spacing: 1px; 
    font-weight: 150;
}
/*  fin header */

/* main */
.healthy{
    color: white; 
    font-weight: 500; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 5.5em; 
    display: flex; 
    justify-content: center;
}
.terre{
    color: white; 
    font-weight: 500; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 5.5em; 
    display: flex; 
    justify-content: center;
}
.prix{
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 5em; 
    color: #ffffff; 
    display: flex; 
    justify-content: center;
}
.section2{
    color: #ffffff; 
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
}
.beautiful{
    font-size: 5em;
    padding-top: 0px;
    margin-bottom: 0px;
    font-weight: 800;
}
.applewfin{
    width: 1500px;
    margin: auto;
}

.liste{
    display: flex; 
    justify-content: center; 
    font-size: 2em; 
    flex-direction: column;
}
/* fin main */

/* page2 */
.pro14{
    display: flex; 
    justify-content: center; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 4em;
    background: linear-gradient(180deg,#ffb6ff,#b344ff);
    color: transparent;
    background-clip: text;
}

.img14pro{
    display: flex; 
    justify-content: center;
}
.prix2{
    display: flex; 
    justify-content: center; 
    background: linear-gradient(180deg, #ffb6ff, #b344ff);
    color: transparent;
    background-clip: text;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 5em;
}

.contour1{
    background-color: black; 
    border-radius: 20px;
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
    margin:40px;
}

.always{
    display: flex; 
    justify-content: center; 
    font-size: 4em;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: transparent; 
    background: linear-gradient(180deg,#ffe993,#eb831c);
    background-clip: text;
    text-align: center  
}

.contour2{
    background-color: black;
    border-radius: 20px;
    padding-top: 50px;
    margin: 40px; 
}

.dynamic{
    display: flex; 
    justify-content: center; 
    font-size: 4em;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: transparent; 
    background: linear-gradient(180deg,#c6deff,#516cec);
    background-clip: text;
    text-align: center;
}
.imgdynamic{
    display: flex; 
    justify-content: center;
}

.contour3{
    background-color: black;
    border-radius: 20px;
    padding-top: 50px;
    margin: 40px; 
}

.ceramic{
    display: flex; 
    justify-content: center; 
    font-size: 4em;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: transparent; 
    background: linear-gradient(180deg,#dbcedb,#60657f);
    background-clip: text;
    text-align: center;
}
.imgceramic{
    display: flex; 
    justify-content: center;
}

.section2p{
    display: flex; 
    justify-content: center; 
    background-color:rgb(29, 29, 29);
}

/* page 3 ipad */
.h1p3{
    display: flex; 
    justify-content: center; 
    font-size: 4em; 
    font-family:'Be Vietnam Pro', sans-serif; 
    color: #ffffff;
}

.Supercharged{
    display: flex;
    justify-content: center;
    background: linear-gradient(#be22ff 20%,#ff279c 50%,#ff981f 80%);
    background-clip: text;
    color: transparent;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 4em;
}

.m2m2{
    display: flex; 
    justify-content: center;
}
.imgm2m2{
    width: 300px;
}

.ipadpro{
    display: flex; 
    justify-content: center;
}

.imgipadpro{
    box-shadow: #f56300; 
    display: flex; 
    text-align: center;
    width: 1500px;
}

.textm2{
    color: #ffffff; 
    font-size: 5em;
    display: flex;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-left: 50px;
    font-weight: bold;
}

.ipadperformance{
    display: flex;
     margin: auto;
    width: 2000px;
}

.sectioncam{
    margin-top: 200px;
}

.divcam{
    display: flex;
    flex-direction: row;
}

.imgcam{
    width: 1000px;
}

.textcam{
    color: #ffffff; 
    font-size: 2.3em;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 60px;
    text-align: justify;
}

.procam{
    font-weight: bold;
}

.sensorli{
    font-weight: bold;
}

/* page 4 mac */
.h1p4{
    display: flex; 
    justify-content: center; 
    font-size: 4em; 
    font-family:'Be Vietnam Pro', sans-serif; 
    color: transparent;
    background: linear-gradient(180deg, #45a247, #283c86);
    background-clip: text;
}

.taille{
    display: flex; 
    justify-content: center; 
    color: #ffffff; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 2.4em;
}

.imgmac{
    display: flex; 
    justify-content: center;
}

.imgmac2{
    width: 1200px;
}

.m2text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.imgm2mac{
    width: 500px;
    height: 500px;
}

.textm2mac{
    display: flex; 
    justify-content: center; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 3em; 
    color: #ffffff;
}

.ecran{
    display: flex; 
    flex-direction: row; 
    color: #ffffff; 
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 2em;
}


















