*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,body{
    height: 100%;
}

html {
    font-size: 1.2rem;
    line-height: 1.6;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;

    background: black;
    color: white;

    
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 0.5rem;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  img {
    border-radius: 5px 5px 0 0;
  }


  main{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem;

    flex: 1;

  }



