<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
        html {
            font-size: calc(1rem + 0.5vw);
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Todos</h1>
    <ul>
        <% for (let todo of todos) { %>
            <li>
                <%= todo %>
            </li>
            <% } %>
    </ul>
    <p>Todos count: <%= todos.length %>
    </p>

    <p>Counter: <span> <%= counter %> </span>
</p>
</body>

</html>