.accord
{
    &__div
    {
        overflow: hidden;
        width: 100%;
        border: 2px solid black;
        border-radius: 6px 6px 0 0 ;
    }
    &__check
    {
       display: none;
    }
    &__head
    {
        display: flex;
        background-color: rgb(230, 88, 118);
       color: white;
       padding: 0.5rem;
       gap: 0.5rem;
       cursor: pointer;
    }
    &__content
    {
        max-height: 0;
    }
    &__par
    {
        background: white;
        padding: 0.5rem 2rem;
    }
}


input:checked
{
    background: green;
    input+label {
        border-bottom: 1px solid black;
    }
    ~.accord_content {
        max-height: unset;
    }
    
}