#modelORCountry{
    color: red;
    background-color: burlywood;
    font-size: larger;
    display: block;
    width: 150px;
    margin-top: 5%;
    margin-inline: auto;
    box-shadow: 0px 0px 20px gray ;
    text-align: center;
    padding: 10px;
    
    

    
}
#price{
    color: red;
    background-color: burlywood;
    font-size: larger;
    display: block;
    width: 150px;
    margin-top: 5%;
    margin-inline: auto;
    box-shadow: 0px 0px 20px gray ;
    text-align: center;
    padding: 10px;


}

